name: Create branch on assignment

on:
  issues:
    types:
      - assigned

jobs:
  createbranch:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.1
      
      - name: Create issue branch
        env:
          number: ${{ github.event.issue.number }}
          title: ${{ github.event.issue.title }}
          labels: ${{ toJSON(github.event.issue.labels.*.name) }}
        run: |
          TYPE="feature"
          echo "Labels: $labels"
          
          # Parse JSON array of labels
          for label in $(echo "$labels" | jq -r '.[]'); do
            echo "Checking label: $label"
            case "$label" in
              feature|bugfix|chore|hotfix) 
                TYPE=$label
                echo "Found type: $TYPE"
                break
                ;;
            esac
          done
          
          echo "Using branch type: $TYPE"
          title_clean=${title// /-}
          title_clean=${title_clean//[^a-zA-Z0-9_-]/}
          branchname="$TYPE/$number-${title_clean,,}"
          echo "Creating branch: $branchname"
          
          git switch -c "$branchname"
          git config --global user.name 'github-actions'
          git config --global user.email \
              '41898282+github-actions[bot]@users.noreply.github.com'
          git push -u origin "$branchname"
